#AddAIButton {
	flow-children:right;
}

#AddAIButton Label {
	font-size: 24px;
	text-transform: uppercase;
	margin-top: 2px;
	margin-right: 5px;
	color: #6e6f6f;
	vertical-align:center;
}

#AddAIButton:hover Label {
	color: #ffffff;
}

#AddAIButton Image {
	margin-right: 5px;
	margin-top: 1px;
	wash-color: #888888;
}

#AddAIButton:hover Image {
	margin-right: 5px;
	wash-color: #ffffff;
}