.MinimapBg {
	width: 288px;
	height: 286px;

	border-style: solid;
	border-width: 5px 7px 5px 5px;
	border-color: #eee;

	vertical-align: bottom;
}

.CustomHUD {
	width: 100%;
	height: 100%;
}

.AbilityPanel {
	margin-left: 350px;
	margin-bottom: 20px;
	width: 200px;
	height: 200px;

	vertical-align: bottom;
}

#AbilityIcon {
	border-radius: 50%;
	width: 200px;
	height: 200px;
	background-image: url('file://{images}/custom_game/bombicon.tga');
	box-shadow: #ffffffff 0px 0px 2px 0px;
}

#AbilityIcon.OffCooldown:Hover {
	saturation: 1.5;
	box-shadow: #99ff99 0px 0px 8px 0px;
}

.OnCooldown {
	saturation: 0.0;
}

#BombAbilityMask {
	width: 200px;
	height: 200px;
	background-color: #000;
	opacity: 0.9;
	z-index: 2;
	vertical-align: bottom;

	transition-property: height;
	transition-duration: 1s;
}

.Hotkey {
	font-size: 40px;
	color: #fff;
	font-weight: Bold;
	z-index: 5;
	background-color: #333;
	padding: 0px 10px 0px 10px;
	text-shadow: 0px 0px 4px 1.0 #dfd;
	border-width: 1px;
	border-style: solid;
	border-color: #666;
	text-align: center;
}

.SmallBomb {
	width: 78px;
	height: 150px;
	background-image: url('file://{images}/custom_game/smallbomb.tga');
	opacity-mask: url('file://{images}/custom_game/smallbomb.tga');

	vertical-align: center;
	horizontal-align: center;

	transform: scale3d( 1, 1, 1 );
}

.SmallBomb.StartAnim {
	transform: scale3d( 0, 0, 1 );
	transition-property: transform;
	transition-duration: 0.25s;
	transition-timing-function: cubic-bezier(.5,1.89,.55,.65);
}

.OnCooldownSmall {
	saturation: 0.2;
	opacity: 0.8;
	transition-property: opacity, saturation;
	transition-duration: 0.2s;
}

#BombContainer {
	vertical-align: bottom;
	margin-bottom: 10px;
	margin-left: 550px;
	flow-children: right;
}

#PowerupContainer {
	width: 200px;
	height:140px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #111 ), to( #253025 ) );

	border-style: solid;
	border-width: 1px 0px 0px 1px;
	border-color: #aaa;

	vertical-align: bottom;
	horizontal-align: right;

	flow-children: down;
}

.PowerupLabels {
	flow-children: right;
	width: 190px;
	font-size: 25px;
	font-weight: bold;
	margin-top: 5px;
	margin-left: 10px;
}

.PowerupValue {
	width: 60px;
	horizontal-align: right;
	text-align: center;
	color: #eee;
}

.PowerLabel {
	color: #0081EE;
}

.SpeedLabel {
	color: #EE3400;
}

.BombLabel {
	color: #EEC400;
}

.KickLabel {
	color: #0FA204;
}

.PowerupAlert {
	font-size: 30px;
	color: #fff;
	font-weight: bold;
	opacity: 1;

	text-shadow: 0px 0px 1px #000000ff;

	transition-property: opacity;
	transition-duration: 0.7s;
	transition-delay: 0.3s;
	transition-timing-function: ease-in;
}

.Green {
	color: #0FA204;
}

.Yellow {
	color: #EEC400;
}

.Blue {
	color: #0081EE;
}

.Red {
	color: #EE3400;
}