.CustomTopBar {
	width: 900px;
	height: 100px;
	horizontal-align: center;
	flow-children: right;
}

.RoundTimer {
	height: 100px;
	width: 250px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #323232 ), to( #222222 ) );

	box-shadow: fill #000000ff -4px -4px 8px 10px;

	z-index: 2;
}

#PlayerContainer {
	height: 65px;
	width: 700px;

	background-color: #222;
	box-shadow: fill #000000ff -4px -4px 8px 10px;

	flow-children: right;
}

.PlayerPanel {
	height: 70px;
	width: 150px;
	background-color: #222;

	margin-left: 10px;

	z-index: 2;
}

.PlayerAvatar {
	width: 80px;
	height: 80px;

	border-width: 0px 0px 0px 4px;
	border-style: solid;
	border-color: #000000;
}

.PlayerScore {
	width: 74px;
	font-weight: bold;
	color: #fff;
	font-size: 50px;
	margin-top: 5px;
	margin-left: 76px;

	text-align: center;

	text-shadow: 0px 0px 4px 1.0 #ffffff66;
}

.TimeLabel {
	width: 200px;
	margin-top: 5px;

	horizontal-align: center;
	text-align: center;

	font-size: 50px;
	color: #fff;
}

#TimerBar {
	width: 250px;
	height: 10px;
	background-color: #151515;

	margin-top: 80px;
}

#TimerProgress {
	height: 10px;
	background-color: #5AC700;

	transition-property: width;
	transition-timing-function: none;
}

.TimerFull {
	width: 250px;
}

.TimerInProgress {
	width: 0px;
}

.Triangle {
	width: 20px;
	height: 10px;
	border-style: solid;
	border-width: 10px 10px 0 10px;
	border-color: #E62600 transparent transparent transparent;

	horizontal-align: center;
	margin-top: 66px;
}