.Title, .Title2, .Title3 {
	margin-top: 10px;
	margin-bottom: 5px;
	font-weight: bold;
	text-shadow: 3px 2px 3px 2.0 #00000055;
}

.Title {
	font-size: 60px;
}

.Title2 {
	font-size: 45px;
}

.Title3 {
	font-size: 30px;
}

.Paragraph {
	font-size: 22px;
}

.Green {
	color: #0FA204;
}

.Yellow {
	color: #EEC400;
}

.Blue {
	color: #0081EE;
}

.Red {
	color: #EE3400;
}

.Container {
	width: 1940px;
	height: 1080px;
	background-color: #ff0;
	background-image: url('file://{images}/loadingscreens/techies_arcana/loadingscreen.tga');
	background-size: 100% 100%;
	flow-children: right;
}

.InfoPanel {
	width: 600px;
	height: 700px;
	background-color: #222;
	margin-left: 80px;

	color: #fff;

	flow-children: down;
	padding: 0px 20px 20px 20px;
}

.PowerupBox {
	width: 560px;
	height: 180px;
	flow-children: right;
	margin-top: 5px;
}

.PowerupPanel {
	width: 130px;
	margin-left: 5px;
	margin-right: 5px;
	height: 180px;

	flow-children: down;
}

.PowerupPicture {
	width: 130px;
	height: 130px;
}

.PowerupPanel Label {
	horizontal-align: center;
	text-align: center;
	font-weight: bold;
}

.KickVideo {
	horizontal-align: center;
	width: 500px;
	height: 130px;
	background-color: #f00;
	background-image: url("file://{images}/custom_game/bombkick.tga");
}

.Logo {
	margin-left: 60px;
	margin-top: 10px;
}
